.meun_page{
    position: fixed;//픽스 >> 앱솔로트
    top: 0;left: -100%;//
    
    background-color: #000;
    transition: all 0.5s ease;
    z-index: 100;
    &.active{left: 0;}
    .meun_area{
        position: relative;
        width: 100vw;height: 100vh;
        @include mobile{ width:50vw;}
        .meun_head{
            position: relative;
            padding:24px;box-sizing: border-box;

            .meun_logo{
                width: 120px;height: 40px;
                a{
                    display: block;
                    img{width: 100%;}
                }
            }
            .btn_close{
                position: absolute;
                top: 50%;right: 12px;transform: translateY(-50%);
                 width: 40px;height: 40px;
                padding: 7px;box-sizing: border-box;
                svg{
                    width: 100%;height: 100%;
                    fill:white;
                }
            }
        }
        .meun_cont{
            padding: 0 12px; box-sizing: border-box;
            .gnb_list{
                .gnb_item{
                    position: relative;
                    width: 100%;height: 40px;
                    padding: 0 16px;box-sizing: border-box;
                    a{
                        position: relative;
                        display: flex;
                        align-items: center;
                       margin: 8px 0;
                        .icon{
                            position: relative;
                            width: 24px;height: 24px;
                            margin-right: 15px;
                            svg{width: 100%;height: 100%;fill:#ccc;}
                        }
                        .gnb{
                           font-size: 18px;
                            font-weight: 500;
                            line-height:2;    
                        }

                        &.mix_list{
                            margin-top: 25px;
                            svg{
                                background-color: #ccc;fill:black;
                                padding: 4px;box-sizing: border-box;
                            }
                        }
                        &.like{
                            svg{
                                background: linear-gradient(135deg,#450af5,#c4efd9);fill:#ccc;
                                border-radius: 8%;
                                padding: 4px;box-sizing: border-box;
                            }

                        }
                    }
                }
                &::after{
                    content: '';
                    display: block;
                    width: 100%;height: 1px;
                    background-color: rgb(104, 104, 104);
                    margin: 24px 0;
                }
                
              
            }
            .playlist_group{
                margin-top: 25px;
                .playlist_item{
                    padding: 0 16px;
                    button{display: block;
                        font-size: 18px;
                        font-weight: 400;
                        line-height:2;
                        padding: 4px 0;box-sizing: border-box;
                    }
                }
            }

        }
        
    }
}
.info_page{
    position: fixed;
    top:0;right: -100%;
    width: 100vw;height: 100vh;
    padding:56px 40px;box-sizing: border-box;
    background-color: #000;
    z-index: 100;

    transition: all 0.5s ease;
            @include mobile{ width:50vw;}
    &.active{right: 0%;}
    .btn_close{
        position: absolute;
        top: 24px;right: 24px;
        
        svg{
            width: 25px;height: 25px;
            fill:white;   
        }
    }
    .group_user{
        display: flex;
        flex-direction: column;
        a{
            display: block;
            padding: 8px 0;box-sizing: border-box;
            font-size: 24px;
            font-weight: 500;
            line-height: 1.5;
            &.link_account{
                display: flex;
                align-items: center;
                svg{
                    width: 24px;height: 24px;
                    margin-left: 8px;
                    path{fill: #fff;}
                }
            }
        }
        &::after{
            content: '';
            display: block;
            width: 16px;height: 2px;
            margin: 24px 0;
            background-color: #fff;
        }
    }
    .group_corp{
        .corp_list{
            display: flex;
            flex-direction: column;
            li{
                font-size: 18px;
                font-weight: 400;
                line-height:2;
                padding: 4px 0;box-sizing: border-box;
            }

        }


    }
}
