.library_area{
    margin-top: 64px;
    padding-top: 16px;
    .sc_playlist{
        .title{
            margin: 16px 0;
            font-size: 1.5rem;font-weight: 700;
        }
        .group_playlist{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .liked_box{
                position: relative;
                width: 100%;
                padding: 16px;box-sizing:border-box;
                margin-bottom: 16px;
                background:linear-gradient(149.46deg,#450af5,#8e8ee5 99.16%);
                border-radius: 5px;
                @include mobile{
                    width: calc(75% - 12px);
                    margin-right: 16px;
                    margin-bottom: 0;
                }
                @include mobilePro{
                    width: calc(50% - 12px);
                }
                @include tablet{
                    width: calc(40% - 12px);
                }
                
                .liked_music{ 
                    width: 100%;height:241px;
                    display: flex;
                    align-items: flex-end;
                    padding: 16px 0;box-sizing: border-box;
                    margin-bottom: 12px;
                    .music_item{
                       float: left;margin-right: 10px;
                       span{font-weight:300;}
                    }
                }
                .txt_wrap{
                    line-height: 1.5;
                    .tit{font-size: 2rem;font-weight: 700;}
                    .info{font-size: 0.8rem;font-weight: 400;}
                }
                .ic_play{
                    position: absolute;
                    bottom: 16px;right: 5%;
                    width: 48px;height: 48px;
                    border-radius: 50%;
                    background-color: #1ed760;
                    box-shadow: 0px 5px 15px #111111e3;
                    opacity: 0;
                    transition: all 0.3s 0.1s ease;
                    .play_btn{
                        position: absolute;
                        width: 24px;height: 24px;
                        top: 50%;left: 38%;transform: translate(-50%, -50%);                                    
                    }
                    &.on{ bottom:10%;opacity: 1;}
                }
            }
            .list_item{
                position: relative;
                width: calc(50% - 6px);
                margin-left: 12px;
                padding: 16px;box-sizing:border-box;
                background-color: #181818; 
                border-radius: 5px;
                overflow: hidden;
                &:nth-child(2n){margin-left: 0;}
                transition: all 0.3s ease;
                &.on{  background-color: #2f2f2f;}
                @include mobile{
                    width: calc(25% - 12px);
                    margin-left: 16px;
                } 
                @include mobilePro{
                    width: calc(25% - 12px);
                }   
                @include tablet{
                    width: calc(20% - 12px);
                }
                @include tabletPro{
                    width: calc(15% - 12px);
                }
                @include desktop{
                    width: calc(12% - 12px);
                } 
                .img_wrap{
                    display: block;
                    width: 100%;height: 0;
                    padding-bottom: 100%;
                    margin-bottom: 16px;
                    img{width: 100%;  border-radius: 5px;}
                }
                .txt_wrap{
                    display: block;
                    .tit{
                        display: block;
                        padding-bottom: 4px;
                        font-size: 1rem;font-weight: 700;
                        line-height: 1.7;


                        display: -webkit-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient:vertical;
                    }
                    .info{
                        position: relative;
                        display: block;
                        font-size: 0.9rem;font-weight: 400;
                        line-height: 1.5;color:#888;
                        min-height: 62px;//

                        span{
                            display: -webkit-box;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient:vertical;
                        }
                    }
                }
            }

        }
    }
    .sc_potcast{
        overflow: hidden;
        // display: flex;
        .title{  
            margin: 16px 0;
            font-size: 1.5rem;font-weight: 700;
        }
        .group_potcast{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .epi_box{
                position: relative;
                width: 100%;height: 150px;
                padding: 16px;box-sizing: border-box;
                margin-bottom: 16px;
                display: flex;
                align-items: flex-end;
                border-radius: 5px;
                background:linear-gradient(.316turn,#00644e 50.57%,#27856a);
                @include mobile{
                    width: calc(75% - 12px);
                    margin-right: 0;
                    height: 250px;
                }
                @include mobilePro{
                    width: calc(50% - 12px);
                    height: 350px;
                }
                @include tablet{
                    width: calc(40% - 12px);
                    height: 300px;
                }
                .txt_wrap{
                    line-height: 1.5;
                    .tit{font-size: 2rem;font-weight: 700;margin-bottom: 6px;}
                    .info{font-size: 0.8rem;font-weight: 400;}
                }
                .ic_play{
                    position: absolute;
                    bottom: 16px;right: 16px;
                    width: 48px;height: 48px;
                    border-radius: 50%;
                    background-color: #1ed760;
                    box-shadow: 0px 5px 15px #111111e3;
                    opacity: 0;
                    transition: all 0.3s 0.1s ease;
                    .play_btn{
                        position: absolute;
                        width: 24px;height: 24px;
                        top: 50%;left: 40%;transform: translate(-50%, -50%);                                    
                    }
                    &.on{ bottom:15%;opacity: 1;}
                }
            }
            .list_item{
                position: relative;
                width: calc(50% - 6px);
                margin-left: 12px;
                margin-bottom: 16px;;
                padding: 16px;box-sizing:border-box;
    
                border-radius: 5px;
                background-color: #181818; 
                overflow: hidden;
                transition: all 0.3s ease;
                &.on{  background-color: #2f2f2f;}
                &:nth-child(2n){margin-left: 0;} 
                @include mobile{
                    width: calc(25% - 6px);
                    margin-left: 12px; 
                    margin-right: 0;
                } 
                @include mobilePro{
                    width: calc(25% - 12px);
                }   
                @include tablet{
                    width: calc(20% - 12px);
                }
                @include tabletPro{
                    width: calc(15% - 12px);
                }
                @include desktop{
                    width: calc(12% - 12px);
                } 
                          
                .img_wrap{
                    display: block;
                    width: 100%;height: 0;
                    padding-bottom: 100%;
                    margin-bottom: 16px;
                    img{width: 100%;  border-radius: 5px;}
                }
                .txt_wrap{
                    display: block;
                    .tit{
                        display: block;
                        padding-bottom: 4px;
                        font-size: 1rem;font-weight: 700;
                        line-height: 1.7;
    
    
                        display: -webkit-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient:vertical;
                    }
                    .info{
                        position: relative;
                        display: block;
                        font-size: 0.9rem;font-weight: 400;
                        line-height: 1.5;color:#888;
                        //min-height: 62px;//
    
                        span{
                            display: -webkit-box;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient:vertical;
                        }
                    }
                }
    
            }

        }
    }
    .sc_artist{
        .title{  
            margin: 16px 0;
            font-size: 1.5rem;font-weight: 700;
        }
        .artist_list{
            .list_wrap{
                overflow: hidden;
                .list_item{
                    position: relative;
                    float: left;
                    width: calc(50% - 6px);
                    margin: 0 12px 16px 0;
                    padding: 16px;box-sizing:border-box;

                    border-radius: 5px;
                    background-color:#181818; 
                    overflow: hidden;
                    transition: all 0.3s ease;
                    &.on{  background-color: #2f2f2f;}
                    &:nth-child(2n){margin-right: 0;}
                    @include mobile{
                        width: calc((100%/3) - 12px);
                        margin-right: 18px;
                        &:nth-child(2n){margin-right: 18px;}
                        &:nth-child(3n){margin-right: 0px;}
                        
                    }
                    @include mobilePro{
                        width: calc((100%/4) - 12px);
                        margin-right: 16px;
                        &:nth-child(2n){margin-right: 16px;}
                        &:nth-child(3n){margin-right: 16px;}
                        &:nth-child(4n){margin-right: 0px;}
                    }
                    @include tablet{
                        width: calc((100%/5) - 12px);
                        margin-right: 15px;
                        &:nth-child(2n){margin-right: 15px;}
                        &:nth-child(3n){margin-right: 15px;}
                        &:nth-child(4n){margin-right: 15px;}
                        &:nth-child(5n){margin-right: 0px;}
                    }
                    @include tabletPro{
                        width: calc((100%/6) - 12px);
                        margin-right: 14px;
                        &:nth-child(2n){margin-right: 14px;}
                        &:nth-child(3n){margin-right: 14px;}
                        &:nth-child(4n){margin-right: 14px;}
                        &:nth-child(5n){margin-right: 14px;}
                        &:nth-child(6n){margin-right: 0px;}
                    }
                    @include desktop{
                        width: calc((100%/7) - 12px);
                        margin-right: 13px;
                        &:nth-child(2n){margin-right: 13px;}
                        &:nth-child(3n){margin-right: 13px;}
                        &:nth-child(4n){margin-right: 13px;}
                        &:nth-child(5n){margin-right: 13px;}
                        &:nth-child(6n){margin-right: 13px;}
                        &:nth-child(7n){margin-right: 0px;}
                    }
                    .img_wrap{
                        position: relative;
                        display: block;
                        width: 100%;
                        margin-bottom: 16px;
                        img{
                            width: 100%;
                            border-radius: 50%;
                            box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
                        }
                        .ic_play{
                            position: absolute;
                            bottom:0;right: 16px;
                            @include playBtn;
                        }
                    }
                    .txt_wrap{
                        .tit{
                            display: block;
                            padding-bottom: 4px;
                            font-size: 1rem;font-weight: 700;
                            line-height: 1.5;


                            display: -webkit-box;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient:vertical;
                        }
                        .info{
                            position: relative;
                            font-size: 0.9rem;font-weight: 400;
                            line-height: 1.5;color:#888;
                            //min-height: 62px;//

                            span{
                                display: -webkit-box;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient:vertical;
                            }
                        }
                    }
                    
                }
            }
        }

    }
    .sc_album{
        .title{  
            margin: 16px 0;
            font-size: 1.5rem;font-weight: 700;
        }
        .album_list{
            .list_wrap{
                overflow: hidden;
                .list_item{
                    position: relative;
                    float: left;
                    width: calc(50% - 6px);
                    margin: 0 12px 16px 0;
                    padding: 16px;box-sizing:border-box;

                    border-radius: 5px;
                    background-color:#181818; 
                    overflow: hidden;
                    transition: all 0.3s ease;
                    &.on{  background-color: #2f2f2f;}
                    &:nth-child(2n){margin-right: 0;}
                    @include mobile{
                        width: calc((100%/3) - 12px);
                        margin-right: 18px;
                        &:nth-child(2n){margin-right: 18px;}
                        &:nth-child(3n){margin-right: 0px;}
                        
                    }
                    @include mobilePro{
                        width: calc((100%/4) - 12px);
                        margin-right: 16px;
                        &:nth-child(2n){margin-right: 16px;}
                        &:nth-child(3n){margin-right: 16px;}
                        &:nth-child(4n){margin-right: 0px;}
                    }
                    @include tablet{
                        width: calc((100%/5) - 12px);
                        margin-right: 15px;
                        &:nth-child(2n){margin-right: 15px;}
                        &:nth-child(3n){margin-right: 15px;}
                        &:nth-child(4n){margin-right: 15px;}
                        &:nth-child(5n){margin-right: 0px;}
                    }
                    @include tabletPro{
                        width: calc((100%/6) - 12px);
                        margin-right: 14px;
                        &:nth-child(2n){margin-right: 14px;}
                        &:nth-child(3n){margin-right: 14px;}
                        &:nth-child(4n){margin-right: 14px;}
                        &:nth-child(5n){margin-right: 14px;}
                        &:nth-child(6n){margin-right: 0px;}
                    }
                    @include desktop{
                        width: calc((100%/7) - 12px);
                        margin-right: 13px;
                        &:nth-child(2n){margin-right: 13px;}
                        &:nth-child(3n){margin-right: 13px;}
                        &:nth-child(4n){margin-right: 13px;}
                        &:nth-child(5n){margin-right: 13px;}
                        &:nth-child(6n){margin-right: 13px;}
                        &:nth-child(7n){margin-right: 0px;}
                    }
                    .img_wrap{
                        position: relative;
                        display: block;
                        width: 100%;
                        margin-bottom: 12px;
                        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
                        img{width: 100%;border-radius: 5px;}
                        .ic_play{
                            position: absolute;
                            bottom: 0;right: 16px;
                            @include playBtn;
                        }
                    }
                    .txt_wrap{
                        .tit{
                            display: block;
                            padding-bottom: 4px;
                            font-size: 1rem;font-weight: 700;
                            line-height: 1.5;


                            display: -webkit-box;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient:vertical;
                        }
                        .info{
                            position: relative;
                            font-size: 0.9rem;font-weight: 400;
                            line-height: 1.5;color:#888;
                            //min-height: 62px;//

                            span{
                                display: -webkit-box;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient:vertical;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

