body{background-color: #111;}
main{
    position: relative;
    width: 100%;height: 100vh;
    color:white;
    min-width: 375px;
    .main_area{
        padding-top: 64px;//헤더영역값만큼
        &::after{
            content: '';
            width: 100%;height: 400px;
            // height: 0;padding-bottom: 50%;//가로 촉 커질수록 같이 커짐
            position: absolute;top: 0;left: 0;
            z-index: 0;
            background: rgb(19,19,19);
            background: linear-gradient(0deg, rgba(19,19,19,1) 27%, rgba(43,132,116,1) 100%);
        }
       .sc_intro{
        position: relative;
        margin: 16px 0;
        background-color: transparent;
        z-index: 1;
        .tit_box{
            margin-bottom: 16px;
            @include title;
        }
        .music_box{
            .music_list{
                overflow: hidden;  
              .list_item{
                position: relative;
                width: calc(50% - 12px);
                margin:0 24px 12px 0;
                float: left;
                border-radius: 5px;
                overflow: hidden;
                background-color: hsla(0,0%,100%,.1);
                &.on{ background-color: rgba(255, 255, 255, 0.271);}
                &:nth-child(2n){margin-right: 0;}
                @include mobile{
                    width: calc((100%/3) - 12px);
                    margin:0 18px 12px 0;//??

                    &:nth-child(2n){ margin:0 18px 12px 0;;}
                    &:nth-child(3n){margin-right: 0;}
                }
                .img_wrap{
                    display: block;height: 64px;
                    float: left;
                    img{height: 100%;}
                }
                .txt_wrap{
                    position: absolute;
                    top: 50%;left: 64px;transform: translateY(-50%);
                    padding-left: 12px;box-sizing: border-box;
                    font-size: .8rem;
                    font-weight: 700;  
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
                .ic_play{
                    display: none;
                    @include mobile{display: block;}
                    position: absolute;
                    top: 50%;right: 16px;;transform: translateY(-50%);
                    @include playBtn;                   

                }
              }  
            }

        }
       }
       .sc_recommend{
        position: relative;
        z-index: 1;
        background: rgb(19,19,19);
        .recomCate{
            margin-bottom: 32px;
            .tit_box{
                position: relative;
                margin-bottom: 16px;
                overflow: hidden;               
                h2{
                    float: left;
                    line-height: 1.5;
                    font-size: 1.5rem;
                    font-weight: 700;

                    width: 80%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .link_more{
                    position: absolute;color:#fff;
                    top: 50%;right: 0;transform: translateY(-50%);
                    font-size: 10px;
                    font-weight: 500;
                }
            }
            .music_box{
                .music_list{
                    position: relative;

                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    .list_item{
                        // float: left;
                        flex-shrink: 0;
                        width: calc(50% - 6px);
                        margin-right: 12px;
                        padding: 16px;box-sizing: border-box;

                        border-radius: 5px;
                        background-color:#181818;  
                        transition: all 0.3s ease;
                        &.on{  background-color: #2f2f2f;}
                        &:nth-child(2n){margin-right: 0;}
                        @include mobile{
                            width: calc((100%/3) - 12px);
                            margin-right: 18px;
                            &:nth-child(2n){margin-right: 18px;}
                            &:nth-child(3n){margin-right: 0px;}
                        }
                        @include mobilePro{
                            width: calc((100%/4) - 12px);
                            margin-right: 16px;
                            &:nth-child(2n){margin-right: 16px;}
                            &:nth-child(3n){margin-right: 16px;}
                            &:nth-child(4n){margin-right: 0px;}
                        }
                        @include tablet{
                            width: calc((100%/5) - 12px);
                            margin-right: 15px;
                            &:nth-child(2n){margin-right: 15px;}
                            &:nth-child(3n){margin-right: 15px;}
                            &:nth-child(4n){margin-right: 15px;}
                            &:nth-child(5n){margin-right: 0px;}
                        }
                        @include tabletPro{
                            width: calc((100%/6) - 12px);
                            margin-right: 14px;
                            &:nth-child(2n){margin-right: 14px;}
                            &:nth-child(3n){margin-right: 14px;}
                            &:nth-child(4n){margin-right: 14px;}
                            &:nth-child(5n){margin-right: 14px;}
                            &:nth-child(6n){margin-right: 0px;}
                        }
                        @include desktop{
                            width: calc((100%/7) - 12px);
                            margin-right: 13px;
                            &:nth-child(2n){margin-right: 13px;}
                            &:nth-child(3n){margin-right: 13px;}
                            &:nth-child(4n){margin-right: 13px;}
                            &:nth-child(5n){margin-right: 13px;}
                            &:nth-child(6n){margin-right: 13px;}
                            &:nth-child(7n){margin-right: 0px;}
                        }
                        .img_wrap{
                            position: relative;
                            display: block;
                            margin-bottom: 16px;
                            box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
                            img{width: 100%;border-radius: 5px;}
                            .ic_play{
                                position: absolute;
                                bottom:0%;right: 5%;
                                opacity: 0;
                                @include playBtn;
                            }
                        }
                        .txt_wrap{
                            display: block;
                            .tit{
                                display: block;
                                padding-bottom: 4px;
                                font-size: 1rem;
                                font-weight: 700;
                                line-height: 1.7;


                                display: -webkit-box;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient:vertical;
                            }
                            .info{
                                position: relative;
                                display: block;
                                font-size: 0.9rem;font-weight: 400;
                                line-height: 1.5;color:#888;
                                min-height: 62px;//

                                span{
                                    display: -webkit-box;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient:vertical;
                                }
                            }
                        }
                    }
                    //&::after{content:'';display: block;clear: both;}
                }

            }
        }
        
       }
    }
    
}

